 /*****COMMON CSS SECTION*****/
 * {
	margin: 0px;
	padding: 0px;
}
html, body {
	font-family: 'Roboto', sans-serif, arial;
	font-size: 15px;
	background-image: linear-gradient(140deg, rgb(31, 67, 247) 0%, rgba(174, 144, 244, 0.8) 100%), url("./images/it-services-04.jpg");

}
.container {
	width: 1170px;
	margin: 0px auto;
}
.width-100 {
	width: 100%;
	float: left;
}
.width-90 {
	width: 90%;
	float: left;
}
.width-66 {
	width: 66%;
	float: left;
}
.width-50 {
	float: left;
	width: 50%;
}
.width-75 {
	width: 75%;
	float: left;
}
.width-33 {
	width: 33%;
	float: left;
}
.width-25 {
	width: 25%;
	float: left;
}


 /*****HEADER SECTION*****/
 .header {
	padding-top: 20px;
	padding-bottom: 60px;
	background-color: white;

	
}
.header-menu {
	list-style: none;
	margin-top: 10px;
}
.header-menu li {
	float: left;
	font-size: 15px;
}
.header-menu a {
	font-size: 17px;
	text-decoration: none;
	color: black;
	font-weight: 500;
	padding: 10px;
}
.button-job-post {
	background-color: #e34216;
	color: white;
	border: none;
	border-radius: 2px;
	font-size: 14px;
	float: left;
	padding: 10px;
	text-decoration: none;
}
.button-resume {
	background-color: #17acda;
	color: white;
	border: none;
	border-radius: 2px;
	font-size: 14px;
	float: left;
	margin-left: 10px;
	padding: 10px;
	text-decoration: none;
}

 /*****BANNER SECTION*****/
 .banner-section {
    /* background-image: linear-gradient(140deg, rgb(51, 16, 0) 0%, rgba(41, 17, 96, 0.8) 100%), url("./images/it-services-02.jpg"); */
	background-repeat: no-repeat;
	background-size:auto;
	text-align: center;
	height: 200px;
    padding: 20px;
	position: relative;
	width: 100%;
}
.banner-heading {
	font-size: 40px;
	color: white;
	padding-top: 70px
}
.banner-para {
	font-size: 15px;
	color: #fff;
	padding-top: 10px;
}

.search-sect {
	margin-top: 40px;
	width: 25%;
	float: left;
	position: relative;
}
.search-textbox {
	height: 40px;
	width: 100%;
	padding-left: 10px;
	border-top: none;
	border-bottom: none;
	border-color: #d9d9d9;
	border-right: none;
	border-width: 1px;
}
.search-button {
	width: 100%;
	height: 40px;
	background-color: #e34216;
	border: none;
	color: white;
}
.search-sect .icons {
	position: absolute;
	top: 12px;
	right: 10px
}
.img{
    padding: 5px;
    size: 30px;
	margin-bottom: 20px;
}

 /*****RECENT JOB SECTION RECENT JOB SECTION*****/
 .recent-job {
	padding-bottom: 60px;
}

.recent-job-heading {
	text-align: center;
	color: #ffffff;
}

.recent-job-sub-heading {
	text-align: center;
	margin-bottom: 30px;
    color: #d9d9d9;
}

.recent-job-list {
	float: left;
	background-color:rgb(255, 255, 255);
	padding: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
    border-radius: 20px;
   
}

.job-title {
	font-size: 20px;
}

.job-company {
	margin-top: 10px;
	margin-bottom: 20px;
}

.job-company i {
	color: orange;
	margin-left: 10px;
}

.job-skill {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 16px;
}

.job-apply-button {
	background: blue;
	padding: 10px;
	color: white;
	text-decoration: none;
	float: right;
}

 /******FOOTER SECTION******/
 .footer-list {
	list-style: none;
	line-height: 35px;
	padding-top: 20px;
}

.footer-background {
	background-color: #222328;
	padding-top: 60px;
	padding-bottom: 80px;
	color: rgba(255, 255, 255, .86);
}

.get-in-touch {
	list-style: none;
	line-height: 15px;
	padding-top: 20px
}

.get-in-touch img {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	border-radius: 0px;
	float: left;
	padding-top: 20px
}

.get-in-touch i {
	float: left;
	color: #eb372a;
	font-size: 16px;
	line-height: 15px;
}

.get-in-touch p {
	padding-left: 30px;
	color: rgba(255, 255, 255, .86);
	margin-top: 20px
}
.fa-icons{
    padding: 5px;
}
/******FOOTER SECTION******/
